@model IEnumerable<EC3_NESTOR_ATIRO_MVCASPNET.Models.PA_DATOS_POR_PAPELETA>

@{
    ViewData["Title"] = "PA_DATOS_POR_PAPELETA";
    var suma = Model.Sum(x => x.importe);
    var cant = Model.Count();
}

<h1 class="text-center text-primary">CONSULTAS DE DATOS DE PAPELETA</h1>
<br />

@using (Html.BeginForm())
{
    <div class="card p-4 shadow">
        <div class="row">
            <div class="col-md-4">
                <h5>Seleccione el DNI:</h5>
                @Html.DropDownList("Dnipro", (SelectList)ViewBag.LISTA_DNI, "", new { @class = "form-control" })
                <br />
            </div>
            <div class="col-md-4">
                <h5>Ingrese el año:</h5>
                <input class="form-control" name="A" type="number" />
                <br />
            </div>
        </div>

        <button class="btn btn-primary btn-hover" type="submit">ACEPTAR</button>
    </div>
}

<br />

<table class="table table-bordered table-hover shadow">
    <thead class="bg-primary text-white text-center">
        <tr>
            <th>DESCRIPCIÓN</th>
            <th>CODIGO DE POLICIA</th>
            <th>NOMBRE DE POLICIA</th>
            <th>IMPORTE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Desinf)</td>
                <td>@Html.DisplayFor(modelItem => item.idpol)</td>
                <td>@Html.DisplayFor(modelItem => item.nompol)</td>
                <td>@Html.DisplayFor(modelItem => item.importe)</td>
            </tr>
        }
    </tbody>
</table>

<br />
<b class="text-primary">Cantidad:</b> <span class="text-dark font-weight-bold">@cant</span>
<br />
<b class="text-primary">Suma de importes:</b> <span class="text-dark font-weight-bold">@suma</span>

<style>
    .btn-hover {
        transition: all 0.3s ease-in-out;
    }

        .btn-hover:hover {
            background-color: #0056b3 !important;
            transform: scale(1.05);
        }

    .table-hover tbody tr:hover {
        background-color: rgba(0, 123, 255, 0.1);
        transition: background-color 0.2s ease-in-out;
    }
</style>
